.expanded {
    max-width: 2048px;
}

@media (min-width: 768px) {
    .expanded {
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        padding: 0px;
    }
}

.what-they-say .testimonials {
    background-image: url(../img/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: 755px 400px;
    background-position: top center;
    border-radius: 7.5px;
}

@media (min-width: 992px) {
    .what-they-say .testimonials {
        background-position: center right;
    }
}

.what-they-say .col-lg-6 {
    padding: 0px;
}

.what-they-say .carousel {
    padding: 100px 0px;
}

.what-they-say .testimonial-item {
    padding: 60px;
    margin: 20px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 7.5px;
    border-bottom-right-radius: 0px;
    position: relative;
}

.what-they-say .testimonial-item img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    float: left !important;
}

.what-they-say .testimonial-item .icon {
    position: absolute;
    left: 30px;
    top: -20px;
    fill: #ff565b;
}

.what-they-say .testimonial-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #2a2a2a;
}

.what-they-say .testimonial-item span {
    font-size: 14px;
    color: #7a7a7a;
    display: block;
    margin-bottom: 8px;
}

.what-they-say .testimonial-item p {
    margin-top: 25px;
    margin-bottom: 0px;
}

.what-they-say .testimonial-item:after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 100%;
    height: 10px;
    border-bottom-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    z-index: -2;
    background-color: #f6c5c6;
}

.what-they-say .testimonial-item:before {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -5px;
    width: 10px;
    height: 100%;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    z-index: -2;
    background-color: #f6c5c6;
}

.what-they-say .carousel-indicators {
    bottom: 40px;
}

.what-they-say .carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: #7a7a7a;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    opacity: 0.5;
    margin: 0px 5px;
    padding: 0px;
    border-radius: 50%;
}

.what-they-say .carousel-indicators .active {
    opacity: 1;
    background-color: #ff565b;
}